<div id="page-teacher-list" class="container">
    <app-page-header [title]="'Estes são os profys disponíveis.'">
        <form id="search-teachers">
            <app-input
                label="Matéria"
                [name]="'subject'"
                [type]="'subject'"
            ></app-input>

            <app-input
                label="Dia da Semana"
                [name]="'week_day'"
                [type]="'week_day'"
            ></app-input>

            <app-input
                label="Hora"
                [name]="'time'"
                [type]="'time'"
            ></app-input>
        </form>
    </app-page-header>

    <main>
        <app-teacher-item></app-teacher-item>
        <app-teacher-item></app-teacher-item>
        <app-teacher-item></app-teacher-item>
        <app-teacher-item></app-teacher-item>
    </main>
</div>
