<div id="page-teacher-list" class="container">
    <app-page-header [title]="'Estes são os profys disponíveis.'">
        <form id="search-teachers">
            <app-select
                label="Matéria"
                [(ngModel)]="subjectFilter"
                [name]="'subject'"
                [options]="subjects"
                (ngModelChange)="changeFilters()"
            ></app-select>

            <app-select
                label="Dia da Semana"
                [(ngModel)]="weekDayFilter"
                [name]="'week_day'"
                [options]="weekDays"
                (ngModelChange)="changeFilters()"
            ></app-select>

            <app-input
                label="Hora"
                [(ngModel)]="timeFilter"
                [name]="'time'"
                [type]="'time'"
                (ngModelChange)="changeFilters()"
            ></app-input>
        </form>
    </app-page-header>

    <main>
        <app-teacher-item
            *ngFor="let classe of classes"
            [classe]="classe"
        ></app-teacher-item>
    </main>
</div>
