<div id="page-teacher-form" class="container">
    <app-page-header
        [title]="'Que incrível que você quer dar aulas.'"
        [description]="'O primeiro passo é preencher esse formulário de inscrição'"
    ></app-page-header>

    <main>
        <form [formGroup]="classesForm" (keydown.enter)="sendData()">
            <fieldset>
                <legend>Seus dados</legend>
                    <app-input
                        label="Nome completo"
                        formControlName="name"
                        [name]="'name'"
                        [type]="'name'"
                    ></app-input>

                    <app-input
                        label="Avatar"
                        formControlName="avatar"
                        [name]="'avatar'"
                        [type]="'avatar'"
                    ></app-input>

                    <app-input
                        label="WhatsApp"
                        formControlName="whatsapp"
                        [name]="'whatsapp'"
                        [type]="'whatsapp'"
                    ></app-input>
            </fieldset>

            <fieldset>
                <legend>Sobre a aula</legend>

                <app-select
                    label="Matéria"
                    formControlName="subject"
                    [name]="'subject'"
                    [options]="[
                        { value: 'Artes', label: 'Artes' },
                        { value: 'Português', label: 'Português' },
                        { value: 'Redação', label: 'Redação' },
                        { value: 'Inglês', label: 'Inglês' },
                        { value: 'Matemática', label: 'Matemática' },
                        { value: 'Física', label: 'Física' },
                        { value: 'Química', label: 'Química' },
                        { value: 'Biologia', label: 'Biologia' },
                        { value: 'História', label: 'História' },
                        { value: 'Geografia', label: 'Geografia' },
                        { value: 'Filosofia', label: 'Filosofia' },
                        { value: 'Sociologia', label: 'Sociologia' },
                        { value: 'Educação Física', label: 'Educação Física' }
                    ]"
                ></app-select>

                <app-input
                    label="Custo da sua hora por aula"
                    formControlName="cost"
                    [name]="'cost'"
                    [type]="'cost'"
                ></app-input>

                <app-text-area
                    label="Biografia"
                    formControlName="bio"
                    [name]="'bio'"
                ></app-text-area>
            </fieldset>

            <fieldset>
                <legend>
                    Horários disponíveis
                    <button type="button" (click)="addScheduleItem()">+ Novo Horário</button>
                </legend>

                <div class="list-group-item" *ngFor="let scheduleItem of scheduleItemsForm.controls; let i = index">
                    <div class="schedule-item" [formGroup]="scheduleItem">
                        <app-select
                            label="Dia da Semana"
                            formControlName="week_day"
                            [name]="'week_day'"
                            [options]="[
                                { value: '0', label: 'Domingo' },
                                { value: '1', label: 'Segunda-feira' },
                                { value: '2', label: 'Terça-feira' },
                                { value: '3', label: 'Quarta-feira' },
                                { value: '4', label: 'Quinta-feira' },
                                { value: '5', label: 'Sexta-feira' },
                                { value: '6', label: 'Sábado' }
                            ]"
                        ></app-select>

                        <app-input
                            label="Das"
                            formControlName="from"
                            [name]="'from'"
                            [type]="'time'"
                        ></app-input>

                        <app-input
                            label="Até"
                            formControlName="to"
                            [name]="'to'"
                            [type]="'time'"
                        ></app-input>
                    </div>
                </div>
            </fieldset>
        </form>

        <footer>
            <p>
                <img src="./../../../../assets/images/icons/warning.svg" alt="Aviso importante" />
                Importante! <br />
                Preencha todos os dados
            </p>

            <button type="button" (click)="sendData()" [disabled]="classesForm.invalid">Salvar cadastro</button>
        </footer>
    </main>
</div>
