<article class="teacher-item">
    <header>
        <img src="{{ classe.avatar }}" alt="{{ classe.name }}">

        <div>
            <strong>{{ classe.name }}</strong>
            <span>{{ classe.subject }}</span>
        </div>
    </header>

    <p>
        {{ classe.bio }}
    </p>

    <footer>
        <p>Preço/hora <strong>{{ classe.cost | currency: 'BRL' }}</strong></p>

        <button type="button" (click)="addConnection(classe.user_id)">
            <img src="./../../../../assets/images/icons/whatsapp.svg" alt="Whatsapp">
            Entrar em contato
        </button>
    </footer>
</article>
